## Title to be...

## Considering the 3 datasets:
 -   PISA ("Program for International Student Assessment")
 -   World Development Indicators
 -   Hapiness Dataset

# First DataSet PISA:

PISA stands for "Program for International Student Assessment" and it is applied to 15 year-old students across the world to assess their performance in Math, Reading and Science. These are the 2015 scores.

Link to the data set
https://www.kaggle.com/zazueta/pisa-scores-2015/downloads/Pisa%20mean%20performance%20scores%202013%20-%202015%20Definition%20and%20Source.csv

In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
from pandas.tools.plotting import scatter_matrix
import numpy as np
import matplotlib.pyplot as plt

%matplotlib notebook

import warnings
warnings.filterwarnings('ignore')

In [2]:
PISA = pd.read_csv('/home/dio/Coursera_Python/dati/PISAData.csv', nrows=1161)
PISA=PISA[['Country Name','Series Name','2015 [YR2015]']]
PISA.columns=['Country','Series','Score_2015']
PISA['Score_2015'][PISA['Score_2015']=='..']=np.NaN
PISA['Score_2015']=PISA['Score_2015'].astype(float)

PISA=PISA.pivot_table(index=['Country'],columns=['Series'],values=['Score_2015'])

names2=['mathematics','mathematics_Female','mathematics_Male','reading','reading_Female','reading_Male','science','science_Female','science_Male']
PISA.columns=names2
PISA=PISA.reset_index()

In [3]:
PISA.corr()

,mathematics,mathematics_Female,mathematics_Male,reading,reading_Female,reading_Male,science,science_Female,science_Male
mathematics,1.000000,0.996050,0.996220,0.944694,0.938286,0.936269,0.975159,0.968043,0.969146
mathematics_Female,0.996050,1.000000,0.984587,0.934626,0.937750,0.917764,0.969118,0.971142,0.954710
mathematics_Male,0.996220,0.984587,1.000000,0.946920,0.931268,0.946808,0.973600,0.957648,0.975821
reading,0.944694,0.934626,0.946920,1.000000,0.990635,0.992314,0.963816,0.948941,0.965100
reading_Female,0.938286,0.937750,0.931268,0.990635,1.000000,0.966321,0.956005,0.955596,0.944049
reading_Male,0.936269,0.917764,0.946808,0.992314,0.966321,1.000000,0.956038,0.928381,0.969292
science,0.975159,0.969118,0.973600,0.963816,0.956005,0.956038,1.000000,0.992877,0.993877
science_Female,0.968043,0.971142,0.957648,0.948941,0.955596,0.928381,0.992877,1.000000,0.973654
science_Male,0.969146,0.954710,0.975821,0.965100,0.944049,0.969292,0.993877,0.973654,1.000000

## Created two new features, from the 9 metrixes since they are extremelly correlate.
- PISA_average_country Average of the 3 subjects
- Delta Male-Female/PISA_average_country

In [4]:
PISA['PISA_average_country']=(PISA['mathematics']+PISA['reading']+PISA['science'])/3.0
PISA['Delta_Male-Female']=PISA['mathematics_Male']-PISA['mathematics_Female']+PISA['reading_Male']-PISA['reading_Female']+PISA['science_Male']-PISA['science_Female']
PISA=PISA[['Country','PISA_average_country','Delta_Male-Female']]
PISA=PISA.dropna()
PISA.head()

     Country  PISA_average_country  Delta_Male-Female
0    Albania            415.213600         -92.570316
1    Algeria            361.736867         -51.785809
2  Argentina            422.187533          17.061451
4  Australia            502.263567         -23.776820
5    Austria            492.215133          25.580473

In [ ]:
# Define regression parameter 
a, b = np.polyfit(np.array(PISA['Delta_Male-Female']), np.array(PISA['PISA_average_country']), deg=1)
f = lambda x: a * x + b

plt.figure(figsize=(7,7))
plt.scatter(PISA['Delta_Male-Female'],PISA['PISA_average_country'],c='green')

x = np.array([min(PISA['Delta_Male-Female']),max(PISA['Delta_Male-Female'])])
plt.plot(x,f(x),lw=2, c="blue",label="Regression line")
plt.title("Scatterplot PISA average vs Delta MAle-Female for Country")
plt.xlabel('Delta Male vs Female')
plt.ylabel('PISA Average Per Country')
plt.show()

# Second Dataset
# World Development Indicators importing

- IT.NET.USER.P2     [2014] --> Internet users (per 100 people)
- NY.GDP.PCAP.CD     [2013]-->  GDP per capita (current USdollar) 
- SE.ADT.LITR.FE.ZS  [2014] --> Adult literacy rate, population 15+ years, female (%)
- SE.ADT.LITR.MA.ZS  [2014] --> Adult literacy rate, population 15+ years, male (%)
- SE.ADT.LITR.ZS     [2014] --> Adult literacy rate, population 15+ years, both sexes (%)
- SE.XPD.CTOT.ZS     [2014] --> Current education expenditure, total (% of total expenditure in public institutions)
- SG.VAW.REFU.ZS     [2014] --> Women who believe a husband is justified in beating his wife when she refuses sex with him (%)
- SG.VAW.BURN.ZS     [2014] --> Women who believe a husband is justified in beating his wife when she burns the food (%)
- SP.DYN.IMRT.IN     [2015] --> Mortality rate, infant (per 1,000 live births)

In [5]:
WordInds = pd.read_csv('/home/dio/Coursera_Python/dati/Indicators.csv')
#first selection of columns
WordInds=WordInds[['CountryName','IndicatorCode','Year','Value']]
#Filter for one year...
WordInds=WordInds[WordInds['Year']==2013]

#Select the indicators of interest
indicators=['IT.NET.USER.P2','NY.GDP.PCAP.CD','SE.ADT.LITR.FE.ZS','SE.ADT.LITR.MA.ZS','SE.ADT.LITR.ZS',
            'SG.VAW.REFU.ZS','SP.DYN.IMRT.IN']

WordInds=WordInds[WordInds['IndicatorCode'].isin(indicators)]
#expand the colum indicatorCode into a wide table..
WordInds=WordInds.pivot_table(index=['CountryName'],columns=['IndicatorCode'],values=['Value'])
#Rename the colummns
colonne=['InternetUsr','GDPPerCapita','AdultLitFem','AdultLiMal','AdultLit',
         'WomenWBelieve','MortaInfant']
WordInds.columns=colonne
WordInds['AdulDelta']=WordInds['AdultLiMal']-WordInds['AdultLitFem']

#colonne=['InternetUsr','GDPPerCapita','AdultLitFem','AdultLiMal','AdultLit',
#         'WomenWBelieve','MortaInfant']
#WordInds.columns=colonne

#Extract teh Country name from the Index
WordInds=WordInds.reset_index()  
WordInds.head()

,CountryName,InternetUsr,GDPPerCapita,AdultLitFem,AdultLiMal,AdultLit,WomenWBelieve,MortaInfant,AdulDelta
0,Afghanistan,5.9,666.795051,NaN,NaN,NaN,NaN,69.9,NaN
1,Albania,57.2,4411.258241,NaN,NaN,NaN,NaN,13.3,NaN
2,Algeria,16.5,5491.614414,NaN,NaN,NaN,NaN,22.1,NaN
3,Andorra,94.0,42806.522553,NaN,NaN,NaN,NaN,2.2,NaN
4,Angola,19.1,5900.529570,59.671429,82.323273,70.778412,NaN,101.4,22.651844

In [ ]:

_=scatter_matrix(WordInds, alpha=0.2, figsize=(10, 10), diagonal='kde')

In [ ]:
###Tenuto come esempio
plt.figure(figsize=(7,7))
cm = plt.cm.get_cmap('seismic')#'RdYlBu')
#xy = range(100)
sc = plt.scatter(WordInds['MortaInfant'],WordInds['GDPPerCapita'], c=WordInds['AdulDelta'], vmin=0, vmax=30, s=35, cmap=cm)
plt.colorbar(sc)
plt.show()

## The third DataSet
### Reading the Hapiness Dataset.
http://worldhappiness.report/ed/2017/

In [ ]:
Happiness = pd.read_csv('/home/dio/Coursera_Python/dati/Happiness_2015.csv')
Happiness=Happiness[['Country','Happiness Score']]

In [ ]:
Happiness.head()

# Let's Merge the 3 datasets

In [ ]:
#fix a couple of countries
Happiness['Country'][Happiness['Country']=='Russia']="Russian Federation"
Happiness['Country'][Happiness['Country']=='Macedonia']="Macedonia, FYR"

In [ ]:
Global=pd.merge(WordInds,PISA, how='left', left_on='CountryName', right_on='Country')
Global=pd.merge(Global,Happiness, how='left', left_on='CountryName', right_on='Country')

## Let explore the new dataset.

In [ ]:
Global.describe()

In [ ]:
Global=Global[['CountryName', 'InternetUsr', 'GDPPerCapita', 
          'AdultLit', 'WomenWBelieve', 'MortaInfant', 'AdulDelta',
        'PISA_average_country', 'Delta_Male-Female', 
       'Happiness Score']]
#Global.fillna(0, inplace=True)

In [ ]:
sm=scatter_matrix(Global, alpha=0.2, figsize=(10, 10), diagonal='kde')

In [ ]:
#just for test

plt.figure(figsize=(5,5))
cm = plt.cm.get_cmap('RdYlBu')
#xy = range(100)
sc = plt.scatter(Global['InternetUsr'],Global['MortaInfant'], c=Global['Happiness Score'], vmin=0, vmax=7, s=35, cmap=cm)
plt.colorbar(sc)
plt.scatter(Global['InternetUsr'],Global['WomenWBelieve'],c ='green',s=55)
plt.show()

In [ ]:
plt.figure(figsize=(5,5))
cm = plt.cm.get_cmap('RdYlBu')
#xy = range(100)

sc=plt.scatter(Global['PISA_average_country'],Global['Delta_Male-Female'], s=Global['Happiness Score']*10, vmin=0, vmax=7, c=Global['Happiness Score'], cmap=cm)
plt.scatter(Global['PISA_average_country'],Global['WomenWBelieve'],c ='green',s=55)

plt.colorbar(sc)
plt.show()

In [ ]:

#['CountryName', 'InternetUsr', 'GDPPerCapita', 
#          'AdultLit', 'WomenWBelieve', 'MortaInfant', 'AdulDelta',
#        'PISA_average_country', 'Delta_Male-Female', 
#       'Happiness Score']
Global['WomenWBelieve'].fillna(0, inplace=True)

In [ ]:
# Define regression parameter
GlobalB=Global.dropna()
a, b,c = np.polyfit(np.array(GlobalB['InternetUsr']),np.array(GlobalB['MortaInfant']) , deg=2)
#a,b  = np.polyfit(x, y, 1)

#a, b = np.polyfit(np.array(PISA['PISA_average_country']),np.array(PISA['Delta_Male-Female']), deg=1)

f = lambda x: a * x*x + b*x+c

cm = plt.cm.get_cmap('seismic')

fig, (ax1,ax2) = plt.subplots(1, 2,figsize=(10,9), sharex=False, sharey=False)
ax1.scatter(Global['MortaInfant'],Global['InternetUsr'], c=Global['Happiness Score'],s=35, vmin=0, vmax=8,  cmap=cm)
ax1.set_xlabel('Mortal Infants')

ax1.set_ylabel('% Internet Users')
ax1.set_title('Internet User vs Mortal Infants and Happiness Index')


x = np.array([0,100])
ax1.plot(x,f(x),lw=2, c="blue",label="Regression line")

ax2.scatter(Global['PISA_average_country'],Global['Delta_Male-Female'], c=Global['Happiness Score'], vmin=0, vmax=8, s=35, cmap=cm)
ax2.set_xlabel('PISA average Per Country')
ax2.set_ylabel('Difference between Male vs Female')
ax2.set_title('PISA and Happiness Index')

a, b = np.polyfit(np.array(PISA['PISA_average_country']),np.array(PISA['Delta_Male-Female']), deg=1)
f = lambda x: a * x + b

x = np.array([min(PISA['PISA_average_country']),max(PISA['PISA_average_country'])])
ax2.plot(x,f(x),lw=2, c="blue",label="Regression line")

fig.colorbar(sc)