# Assignment 4

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

This assignment requires that you to find **at least** two datasets on the web which are related, and that you visualize these datasets to answer a question with the broad topic of **economic activity or measures** (see below) for the region of **Ann Arbor, Michigan, United States**, or **United States** more broadly.

You can merge these datasets with data from different regions if you like! For instance, you might want to compare **Ann Arbor, Michigan, United States** to Ann Arbor, USA. In that case at least one source file must be about **Ann Arbor, Michigan, United States**.

You are welcome to choose datasets at your discretion, but keep in mind **they will be shared with your peers**, so choose appropriate datasets. Sensitive, confidential, illicit, and proprietary materials are not good choices for datasets for this assignment. You are welcome to upload datasets of your own as well, and link to them using a third party repository such as github, bitbucket, pastebin, etc. Please be aware of the Coursera terms of service with respect to intellectual property.

Also, you are welcome to preserve data in its original language, but for the purposes of grading you should provide english translations. You are welcome to provide multiple visuals in different languages if you would like!

As this assignment is for the whole course, you must incorporate principles discussed in the first week, such as having as high data-ink ratio (Tufte) and aligning with Cairoâ€™s principles of truth, beauty, function, and insight.

Here are the assignment instructions:

 * State the region and the domain category that your data sets are about (e.g., **Ann Arbor, Michigan, United States** and **economic activity or measures**).
 * You must state a question about the domain category and region that you identified as being interesting.
 * You must provide at least two links to available datasets. These could be links to files such as CSV or Excel files, or links to websites which might have data in tabular form, such as Wikipedia pages.
 * You must upload an image which addresses the research question you stated. In addition to addressing the question, this visual should follow Cairo's principles of truthfulness, functionality, beauty, and insightfulness.
 * You must contribute a short (1-2 paragraph) written justification of how your visualization addresses your stated research question.

What do we mean by **economic activity or measures**?  For this category you might look at the inputs or outputs to the given economy, or major changes in the economy compared to other regions.

## Tips
* Wikipedia is an excellent source of data, and I strongly encourage you to explore it for new data sources.
* Many governments run open data initiatives at the city, region, and country levels, and these are wonderful resources for localized data sources.
* Several international agencies, such as the [United Nations](http://data.un.org/), the [World Bank](http://data.worldbank.org/), the [Global Open Data Index](http://index.okfn.org/place/) are other great places to look for data.
* This assignment requires you to convert and clean datafiles. Check out the discussion forums for tips on how to do this from various sources, and share your successes with your fellow students!

## Example
Looking for an example? Here's what our course assistant put together for the **Ann Arbor, MI, USA** area using **sports and athletics** as the topic. [Example Solution File](./readonly/Assignment4_example.pdf)

# First DataSet PISA:

PISA stands for "Program for International Student Assessment" and it is applied to 15 year-old students across the world to assess their performance in Math, Reading and Science. These are the 2015 scores.

Link to the data set
https://www.kaggle.com/zazueta/pisa-scores-2015/downloads/Pisa%20mean%20performance%20scores%202013%20-%202015%20Definition%20and%20Source.csv

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [106]:
df = pd.read_csv('PISAData.csv', nrows=1161)
df=df[['Country Name','Series Name','2015 [YR2015]']]
df.columns=['Country','Series','Score_2015']
df['Score_2015'][df['Score_2015']=='..']=np.NaN
df['Score_2015']=df['Score_2015'].astype(float)

df=df.pivot_table(index=['Country'],columns=['Series'],values=['Score_2015'])
l0=df.columns.get_level_values(0)
l1=df.columns.get_level_values(1)
names=[x[1] if x[1] else x[0] for x in zip (l0,l1)]
#df.columns=names
names2=['mathematics','mathematics_Female','mathematics_Male','reading',' reading_Female','reading_Male','science','science_Female','science_Male']
df.columns=names2

df.reset_index()
df=df.dropna()

In [108]:
df.head(40)

,mathematics,mathematics_Female,mathematics_Male,reading,reading_Female,reading_Male,science,science_Female,science_Male
Country,,,,,,,,,
Albania,413.1570,417.750029,408.545459,405.2588,434.639626,375.759199,427.2250,439.442963,414.957644
Algeria,359.6062,363.072479,356.495106,349.8593,366.208167,335.185436,375.7451,383.220939,369.035234
Argentina,409.0333,400.443116,418.388361,425.3031,432.958080,416.966607,432.2262,424.994351,440.102030
Australia,493.8962,490.985501,496.761345,502.9006,518.865799,487.185525,509.9939,508.921647,511.049257
Austria,496.7423,483.133026,510.098216,484.8656,495.075191,474.846032,495.0375,485.526754,504.371197
Belgium,506.9844,499.739022,514.002572,498.5242,506.638599,490.664156,501.9997,496.031867,507.780477
Brazil,377.0695,369.549307,385.040590,407.3486,418.561682,395.463255,400.6821,398.699999,402.783037
Bulgaria,441.1899,442.163116,440.318936,431.7175,456.598561,409.449780,445.7720,453.901096,438.496629
Canada,515.6474,511.141726,520.166125,526.6678,539.762386,513.535458,527.7047,527.156185,528.254766
Chile,422.6714,413.448981,431.798087,458.5709,464.561642,452.642242,446.9561,439.617404,454.218617
Colombia,389.6438,384.488336,395.391120,424.9052,432.281926,416.681626,415.7288,411.031599,420.965112
Costa Rica,400.2534,392.312861,408.451612,427.4875,434.874832,419.860487,419.6080,410.834860,428.665961
Croatia,464.0401,457.961192,470.598668,486.8632,499.585792,473.136689,475.3912,472.586346,478.417325
Cyprus,437.1443,439.534071,434.706449,442.8443,468.658337,416.827052,432.5964,440.948187,424.147822
Czech Republic,492.3254,488.665606,495.794166,487.2501,500.652660,474.547464,492.8300,488.398280,497.030404
Denmark,511.0876,506.374751,515.756469,499.8146,510.951614,488.781640,501.9369,498.902705,504.942715
Dominican Republic,327.7020,329.745931,325.586561,357.7377,372.780583,342.168155,331.6388,330.828991,332.477015
Estonia,519.5291,516.872753,522.080414,519.1429,533.361984,505.486326,534.1937,532.522785,535.798594
Finland,511.0769,514.964997,507.452841,526.4247,550.511164,503.974583,530.6612,540.511823,521.479676
France,492.9204,489.954043,495.931688,499.3061,513.764019,484.629286,494.9776,494.034208,495.935280
Georgia,403.8332,410.596014,397.747790,401.2881,431.881966,373.758527,411.1315,419.616411,403.496465
Germany,505.9713,497.531079,514.117652,509.1041,519.674109,498.902146,509.1406,503.812120,514.283670
Greece,453.6299,453.573223,453.682056,467.0395,486.460030,449.136246,454.8288,459.417742,450.598396
"Hong Kong SAR, China",547.9310,546.768212,549.065844,526.6753,540.984420,512.711333,523.2774,523.749082,522.817186
Hungary,476.8309,472.739508,480.905545,469.5233,481.959565,457.137733,476.7475,475.248394,478.240508
Iceland,488.0332,488.586969,487.445658,481.5255,501.716703,460.103602,473.2301,474.655618,471.717668
Indonesia,386.1096,387.444975,384.779279,397.2595,408.999417,385.564158,403.0997,405.128927,401.078269
Ireland,503.7220,495.444967,511.579655,520.8148,526.949086,514.991400,502.5751,497.173959,507.702612
Israel,469.6695,465.516851,473.990243,478.9606,490.164954,467.302554,466.5528,464.447673,468.743213
Italy,489.7287,479.823744,499.762113,484.7580,492.709122,476.703803,480.5468,472.118973,489.083799
Japan,532.4399,525.495995,539.267257,515.9585,522.655281,509.374027,538.3948,531.532898,545.141487
Jordan,380.2590,387.377200,373.001317,408.1022,443.596394,371.912376,408.6691,427.996711,388.962728
Kazakhstan,459.8160,460.577154,459.103759,427.1410,435.383617,419.428221,456.4836,457.860190,455.195446
"Korea, Rep.",524.1062,527.756665,520.766937,517.4367,538.609218,498.068988,515.8099,520.832927,511.215066
Latvia,482.3051,483.257260,481.355785,487.7581,508.825074,466.755217,490.2250,495.579153,484.887176
Lebanon,396.2497,385.989211,408.057113,346.5490,353.277296,338.806193,386.4854,385.546496,387.565807
Lithuania,478.3834,479.017777,477.767728,472.4066,492.242318,453.156664,475.4089,479.161820,471.766923
Luxembourg,485.7706,480.136004,491.483067,481.4391,492.034800,470.697007,482.8064,479.013082,486.652061
"Macao SAR, China",543.8078,547.922679,539.723838,508.6905,524.538927,492.961368,528.5496,532.415665,524.712633
"Macedonia, FYR",371.3114,374.739739,368.237357,351.7415,375.837959,330.135023,383.6824,394.402736,374.069768